/*公用样式*/
body{font-family:sans-serif,'微软雅黑';font-size: 14px;line-height: 1.5;color: #333;position: relative;}
.clearfix:before,.clearfix:after{
    content: ' ';
    display: table;
    clear: both;
}
.clearfix{room: 1;}
.container{
    width: 1000px;
    margin: 0 auto;
    padding: 0;
}
input,textarea,button{
    padding: 0;
    outline: none 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 14px;
}
input{
    text-indent: 8px;
}
input:focus,textarea:focus{
    border: 1px solid #139761;
}
textarea{
    padding: 5px;
    resize: none;
}
.btn_default{
    display: inline-block;
    width: 90px;
    line-height: 30px;
    border: 1px solid #139761;
    text-align: center;
    color: #139761;
    margin: 0 10px;
    cursor: pointer;
}
.btn_default:hover{
    background: #139761;
    color: #fff;
}
.btn_primary{
    display: inline-block;
    width: 90px;
    line-height: 30px;
    border: 1px solid #139761;
    text-align: center;
    color: #fff;
    background: #139761;
    margin: 0 10px;
    cursor: pointer;
}
.btn_primary:hover{
    background: #0f794c;
}
/*首页样式*/
body>.header{
    height: 260px;
    background: url("../img/banner00.jpg") no-repeat center -30px;
}
.header img{
    display: block;
}
body>.section{
    background: #E9FDF4;
}
.header.title{
    position: relative;
}
.header.title h1{
    font-size: 22px;
    color: #139761;
    text-indent: 24px;
    line-height: 70px;
    position: relative;
}
.header.title h1:before{
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background: url("../img/icon1616.png") no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -8px;
}
.header.title a{
    position: absolute;
    display: block;
    width: 50px;
    font-size: 18px;
    font-weight: bold;
    color: #139761;
    line-height: 70px;
    top: 0;
    right: 0;
}
.header.title a:hover{
    text-decoration: underline;
}
.header.title a:before{
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background: url("../img/icon1616.png") 0 -16px no-repeat;
    position: absolute;
    top: 27px;
    right: 0;
}
.search{
    position: relative;
    z-index: 1;
}
.search,.quick_menu{
    /*width: 50%;*/
    float: left;
}
.search{
    width: 55%;
}
.quick_menu{
    width: 45%;
}
.search form>div{
    position: relative;
    line-height: 30px;
    z-index: 4;
}
.search form>div+div{
    margin: 20px 0;
    z-index: 3;
}
.search form>div+div+div{
    z-index: 2;
}
.search label{
    display: inline-block;
    width: 22%;
    font-size: 20px;
    color: #4a4a4a;
    font-weight: bold;
    /*margin-left: 4%;*/
}
.search select{
    display: none;
}
.search .select{
    display: inline-block;
    position: absolute;
    z-index: 1;
}
.search .select p{
    border: 1px solid #ccc;
    background: #fff;
    text-indent: 10px;
    font-size: 16px;
    position: relative;
    cursor: pointer;
}
.search .select p:before{
    content: "";
    display: block;
    width: 40px;
    height: 30px;
    line-height: 30px;
    background: #eee;
    position: absolute;
    right: 0;
}
.search .select p:after{
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background: #eee url("../img/icon1616.png") 0 -48px no-repeat;
    position: absolute;
    top: 7px;
    right: 12px;
}

.search .select ul{
    display: none;
    border: 1px solid #ddd;
    border-top: none 0;
    border-bottom: none 0;
    box-shadow: 0 0 5px #ddd;
}
.search .select ul li{
    line-height: 36px;
    border-bottom: 1px solid #ddd;
    text-indent: 10px;
    font-size: 16px;
    background: #fff;
    cursor: pointer;
}
.search .select ul li:hover{
    background: #139761;
    color: #fff;
}
.search .select,.search button,.search .search_btn label{
    width: 65%;
    font-size: 20px;
    word-spacing: 10px;
}
.search .search_btn{
    margin-top: 30px;
    z-index: 0;
}
.search .search_btn label,.search button{
    margin-left: 22%;
    display: inline-block;
    color: #fff;
    line-height: 40px;
    text-align: center;
    border: none 0;
    background: #139761;
}
.search .search_btn label{
    cursor: pointer;
    margin-bottom: 20px;
}
.search button{
    display: none;
}
.search .search_btn:hover{
    opacity: .8;
    filter: alpha(opacity=80);
}
.quick_menu a{
    display: inline-block;
    width: 50%;
    height: 74px;
    line-height: 74px;
    margin-bottom: 50px;
    background: url("../img/fast_menu_bg.png") no-repeat 0 center;
    text-indent: 85px;
    color: #139761;
    font-size: 16px;
    font-weight: bold;
    position: relative;
}
.quick_menu a:hover{
    text-decoration: underline;
}
.quick_menu a:before{
    content: "";
    display: block;
    width: 70px;
    height: 70px;
    background: url("../img/icon_decorate.png") 0 -70px no-repeat;
    position: absolute;
    top: 2px;
}
.quick_menu a+a:before{
    background: url("../img/icon_decorate.png") 0 0 no-repeat;
}
.quick_menu a+a+a:before{
    background: url("../img/icon_decorate.png") 0 -140px no-repeat;
}
.quick_menu a+a+a+a:before{
    background: url("../img/icon_decorate.png") 0 -210px no-repeat;
}
.section.section_two{
    background: url("../img/section_bg01.jpg") no-repeat center;
}
.section_two .login,.section_two .article{
    float: left;
}
.section_two .login{
    width: 40%;
}
.section_two .login a{
    display: block;
    line-height: 52px;
    margin: 35px 0;
    text-indent: 75px;
    color: #139761;
    font-size: 18px;
    background: url("../img/login_menu_bg.png") no-repeat 0 center;
    position: relative;
    cursor: pointer;
}
.section_two .login a:hover{
    text-decoration: underline;
}
.section_two .login a:before{
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    background: url("../img/icon_decorate.png") -70px 0 no-repeat;
    position: absolute;
    left: 13px;
}
.section_two .login a+a:before{
    background: url("../img/icon_decorate.png") -70px -50px no-repeat;
}
.section_two .login a+a+a:before{
    background: url("../img/icon_decorate.png") -70px -100px no-repeat;
}
.section_two .article{
    width: 60%;
}
.section_two .article ul{
    background: url("../img/opacity60.png");
    margin-left: -10px;
}
.section_two .article li{
    line-height: 30px;
    text-indent: 35px;
    font-size: 16px;
    color: #4e4e4e;
    position: relative;
}
.section_two .article li:before{
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 7px;
    left: 10px;
    background: url("../img/icon1616.png") 0 -32px no-repeat;
}
.section_citys li{
    width: 20%;
    float: left;
    text-align: center;
    cursor: pointer;
}
.section_citys li:hover h2{
    text-decoration: underline;

}
.section_citys li h2{
    color: #139761;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 15px;
}
.section.support_center{
    background: #fff;
    padding-bottom: 30px;
}
.support_center li{
    width: 158px;
    height: 50px;
    line-height: 50px;
    margin: 0 10px 10px 0;
    outline: 1px solid #ddd;
    outline-offset: -1px;
    float: left;
    text-align: center;
    cursor: pointer;
}
.support_center li:nth-child(6n){
    margin-right: 0;
}
.support_center li:hover{
    outline: 1px solid #11795C;
}
.support_center li img{
    max-width: 158px;
    max-height: 50px;
    vertical-align: middle;
}
/*首页样式 end*/
/*政策指南*/
.policy_content{
    overflow: hidden;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-top: none 0;
}
.policy_type {
    width: 200px;
    height: 490px;
    float: left;
    padding-top: 80px;
    box-sizing: border-box;
    border-right: 1px solid #ccc;
    overflow: hidden;
    background: url("../img/law.jpg") no-repeat;
}
.policy_type p {
    line-height: 36px;
    border-bottom: 1px dashed #ddd;
    margin: 0 10px;
    position: relative;
    text-indent: 20px;
    cursor: pointer;
}
.policy_type p:before{
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background: url("../img/icon1616.png") no-repeat 0 -96px;
    position: absolute;
    top: 10px;
}
.policy_type p:hover,.policy_type p.active {
    color: #139761;
}
.policy_type p:hover:before,.policy_type p.active:before{
    background: url("../img/icon1616.png") no-repeat 0 -80px;
}
.section.policy_active {
    margin-left: 200px;
    box-sizing: border-box;
    overflow: hidden;
    line-height: 36px;
}
.policy_active .nav,.policy_active .news_list {
    margin: 0 20px;
}
.policy_active .nav{
    position: relative;
    border-bottom: 1px solid #ddd;
    padding-left: 20px;
}
.policy_active .nav:before{
    content: '';
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    background: url("../img/icon1616.png") no-repeat left -64px;
    top: 10px;
    left: 0;
}
.policy_active .nav a {
    color: #666;
}
.policy_active .nav a+a:before {content: " > ";}
.news_list{
    margin: 0 20px;
}
.news_list li{
    border-bottom: 1px dashed #ddd;
    line-height: 36px;
}
.news_list li span{
    float: right;
    color: #999;
    font-style: italic;
}
.news_list li a{
    padding-left: 20px;

    position: relative;
}
.news_list li a:before{
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background: url("../img/icon1616.png") no-repeat 0 -112px;
    position: absolute;
    top: 0;
}
.news_list li a:hover{
    color: #11795C;
    text-decoration: underline;
}
.news_list li a:hover:before{
    background: url("../img/icon1616.png") no-repeat 0 -128px;
}
.footer.page_content{
    line-height: 20px;
    margin: 20px;
}
/*政策指南 end*/
/*金融机构*/
.news_content{
    border: 1px solid #ddd;
    border-top: none 0;
    margin-bottom: 30px;
    min-height: 240px;
}
/*金融机构 end*/
/*联系我们*/
.contact_content{
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-top: none 0;
    overflow: hidden;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
}
.contact_content p{
    font-size: 18px;
    line-height: 80px;
    border-top: 1px solid #77b59c;
    margin: 0 80px 0 50px;
    background: url("../img/line_dec.png") no-repeat -10px bottom;
}
.contact_content p+p{
    border-top: none ;
    font-size: 14px;
    line-height: 30px;
    background: transparent;
    margin-top: 10px;
}
.contact_content p+p+p+p{
    border-bottom: 1px solid #77b59c;
    padding-bottom: 20px;
}
/*联系我们 end*/
/*新闻详情*/
.new{
    border: 1px solid #ccc;
    padding: 0 20px;
    margin-bottom: 40px;
}
.new .header{
    text-align: center;
}
.new .header h3{
    line-height: 50px;
    border-bottom: 1px solid #ddd;
}
.new .header p{
    line-height: 40px;
    text-align: right;
    color: #999;
}
.new div.detail{
    line-height: 30px;
    text-align: justify;
    text-indent: 2em;
}
.new .back_footer{
    text-align: center;
    padding: 20px 0;
}
/*金融产品*/
.product_list{
    border: 1px solid #ccc;
    border-top: none 0;
    margin-bottom: 30px;
}
.product_search .like_search{
    text-align: center;
    padding: 20px 0;
}
.product_search .like_search input{
    height: 36px;
    line-height: 36px;
    width: 30%;
    text-indent: 8px;
    box-shadow: none;
    border: none 0;
    padding: 0;
    outline: 1px solid #ddd;
    outline-offset: -1px;
    font-size: 14px;
}
.product_search .like_search input:focus{
    outline: 1px solid #139761;
    outline-offset: -1px;
}
.product_search .like_search button{
    box-shadow: none;
    height: 36px;
    outline: none 0;
    border: none 0;
    padding: 0 20px;
    background: #139761;
    color: #fff;
    font-size: 14px;
}
.product_search ul{
    margin: 0 30px;
}
.product_search li{
    border-bottom: 1px dashed #ddd;
    line-height: 40px;
}
.product_search li>p,.product_search li>.nav{
    float: left;
    font-size: 14px;
}
.product_search li>p{
    width: 80px;
    color: #666;
}
.product_search li .nav a{
    padding: 4px 6px;
    margin-right: 5px;
    cursor: pointer;
}
.product_search li .nav a:hover,.product_search li .nav a.active{
    background: #139761;
    color: #fff;
}
.product_search li .nav>div{
    display: none;
}
.product_search li .nav a.active+div{
    display: block;
}
.product_search li .nav a input{
    /*display: none;*/
    width: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}
.product_search li .nav a label{
    padding: 2px 5px;
    margin: 0 5px;
}
.product_search .nav input{
    height: 24px;
    line-height: 24px;
    width: 60px;
    text-indent: 8px;
    box-shadow: none;
    border: none 0;
    padding: 0;
    outline: 1px solid #ddd;
    outline-offset: -1px;
}
.product_search .nav input:focus{
    outline: 1px solid #139761;
    outline-offset: -1px;
}
.product_search .nav button{
    box-shadow: none;
    height: 24px;
    outline: none 0;
    border: none 0;
    padding: 0 10px;
    background: #139761;
    color: #fff;
}
.product_search_result {
    margin: 0 30px;
}
.product_search_result .header {
    line-height: 20px;
    margin:  40px 0 0 0;
    text-align: center;
    position: relative;
}
.product_search_result .header span {
    padding: 6px 10px;
    background: #139761;
    color: #fff;
}
.product_search_result .header:before {
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    border-bottom: 1px solid #ddd;
    position: absolute;
    top: -10px;
    z-index: -1;
}
.product_search_result dl {
    margin: 20px 0;
    border: 1px solid #ddd;
    border-top: 2px solid #ddd;
    border-radius: 5px;
    padding: 0 20px;
}
.product_search_result dt {
    line-height: 60px;
    border-bottom: 1px solid #ddd;
}
.product_search_result dt .img_box,.product_search_result dt h3 {
    display: inline-block;
}
.product_search_result dt h3{
    margin-left: 30px;
    color: #139761;
}
.product_search_result dt p{
    float: right;
}
.product_search_result dt p span{
    color: #139761;
}
.product_search_result dt .img_box {
    width: 150px;
    border: 1px solid #eee;
    line-height: 40px;
    text-align: center;
}
.product_search_result dt .img_box img {
    max-height: 40px;
    max-width: 150px;
    vertical-align: middle;
}
.product_search_result dd{
    padding: 20px 0;
}
.product_search_result dd>div{
    float: left;
    border-right: 1px dashed #ddd;
}
.product_search_result .rate_box{
    width: 150px;
}
.product_search_result .money_box{
    padding-left: 50px;
    width: 200px;
}
.product_search_result .type_box{
    padding-left: 50px;
    width: 220px;
}
.product_search_result .time_box{
    padding-left: 50px;
    width: 180px;
}
.product_search_result .btn_box{
    padding-top: 6px;
    padding-left: 50px;
    width: 120px;
    border-right: none;
    text-align: right;
}
.product_search_result dd p{
    font-size: 16px;
    margin-bottom: 8px;
    color: #de5e2b;
}
.product_search_result dd p.label{
    font-size: 12px;
    font-weight: normal;
    color: #666;
    margin-bottom: 0;
    padding-left: 24px;
    position: relative;
}
.product_search_result dd p.label:before{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: url("../img/icon_decorate.png") no-repeat -120px 0;
    position: absolute;
    top: -2px;
    left: -2px;
}
.product_search_result .money_box p.label:before{
    background: url("../img/icon_decorate.png") no-repeat -120px -20px;
}
.product_search_result .type_box p.label:before{
    background: url("../img/icon_decorate.png") no-repeat -120px -40px;
}
.product_search_result .time_box p.label:before{
    background: url("../img/icon_decorate.png") no-repeat -120px -60px;
}
.product_search_result .footer {
    margin: 20px 0;
}
.product_detail {
    border: 1px solid #ccc;
    border-top: none;
    padding: 0 20px;
    margin-bottom: 30px;
}
.detail_container {
    border: 1px solid #ddd;
    border-top: none 0;
    padding: 0 20px 20px 20px;
}
.product_detail .header {
    line-height: 70px;
    border-bottom: 1px solid #ddd;
}
.product_detail img {
    height: 50px;
    width: auto;
}
.product_detail .header div,.product_detail .header h3 {
    display: inline-block;
    vertical-align: middle;
}
.product_detail .header span {
    float: right;
}
.product_detail .header span:before {content: "发布机构：";}
.product_detail .footer{
    text-align: center;
}
.product_detail .nav{
    margin: 20px auto;
}
.col_row {
    line-height: 40px;
    border-bottom: 1px dashed #ddd;
}
.col_row div {
    display: inline-block;
    vertical-align: middle;
}
.col_row .label_control {
    width: 120px;
    text-align: right;
    color: #666;
    vertical-align: top;
}
.col_row .text_control,.col_row .input_control {
    min-width: 300px;
    max-width: 780px;
    line-height: 30px;
}
.col_row .input_control input{
    line-height: 30px;
}
.col_row .input_control textarea{
    vertical-align: middle;
    margin: 10px 0;
    height: 80px;
    width: 780px;
}
/*金融产品 end*/
/*登录样式*/
.login_container{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: none;
}
.login_container .bg{
    background: #000;
    opacity: .6;
    height: 100%;
}
.login_container .login_form{
    width: 380px;
    height: 380px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -190px;
    margin-top: -190px;
    background: #fff;
    border-radius: 5px;
}
.login_container h2 {
    line-height: 60px;
    text-align: center;
    color: #139761;
    border-bottom: 1px solid #139761;
}
.login_container .login_form .form>div{
    margin: 20px 30px;
    position: relative;
}
.login_container input{
    display: inline-block;
    width: 320px;
    height: 40px;
    line-height: 40px;
    text-indent: 48px;
}
.login_container .valid_box input{
    width: 200px;
}
.login_container .login_form .form>div:before {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    border-right: 1px solid #ddd;
    position: absolute;
    background: url("../img/icon_decorate.png") no-repeat -140px 0;
}
.login_container .login_form .form>div.pwd_box:before{
    background: url("../img/icon_decorate.png") no-repeat -140px -40px;
}
.login_container .login_form .form>div.valid_box:before{
    background: url("../img/icon_decorate.png") no-repeat -140px -80px;

}
.login_container .valid_box img{
    vertical-align: middle;
    height: 40px;
    line-height: 40px;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid #eee;
    float: right;
}
.login_container .error_mes{
    height: 30px;
    line-height: 30px;
    margin: -12px 30px;
    color: #de5e2b;
    text-align: right;
}
.login_container .ent_login {
    text-align: right;
    margin: -5px 30px 20px 0;
}
.login_container .login_form .form>div.btn_box:before{
    display: none;
}
.login_container .btn_box label{
    display: block;
    width: auto;
    margin: 0;
    line-height: 40px;
    font-size: 16px;
    cursor: pointer;
}
.login_container .btn_box button{
    display: none;
}
/*登录样式 end*/
/*企业注册页面*/
.step_guide {
    margin: 20px 0;
    text-align: center;
}
.step_guide.nav-tabs>li>a{
    height: 60px;
    line-height: 40px;
    font-size: 16px;
    cursor: default;
}
.step_guide.nav-tabs>li>a:hover{
    background: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;

}
.step3{
    height: 240px;
    line-height: 240px;
    text-align: center;
    color: #139761;
    font-size: 24px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
table .form-group{
    margin-bottom: 0;
}